.card {

	.card-inner {
		width:20%;
		float:left;
		position:relative;
		display:flex;
		flex-direction:column;
		overflow:hidden;
		// &:hover {
		// 	.card-actions {
		// 		-webkit-transform: translateY(0);
		// 	  transform: translateY(0);
		// 	}
		// }
		@media(max-width:990px) {
			width:100%;
		}
	}

	.card-image {
		img {
			width:100%;
			height:450px;
			object-fit:cover;
			margin:0;
			@media(max-width:990px) {
				height:350px;
			}
		}
		&:after {
	    content: '\A';
	    position: absolute;
	    width: 100%; height:100%;
	    top:0;
	    left:0;
	    background:rgba(0,0,0,0.6);
	    opacity: 0.4;
	    transition: all 1s;
	    -webkit-transition: all 1s;
		}
	}

	.card-title {
		// font-size:2rem;
		padding:16px;
		padding:1rem;
    position: absolute;
    top: 0;
    color: #fff;
    text-shadow: 0 0 28px #000;
    a {
    	color:inherit;
    }
	}

	.card-actions {
		position:absolute;
		bottom:0;
		width:100%;
		text-align:right;
		// transition: all 0.25s ease;
		// -webkit-transform: translateY(64px);
	 //  transform: translateY(64px);
		.card-action {
			display: inline-block;
	    padding: 1rem;
	    color:#fff;
	    
		}
	}
}

.modal-menu {

	.card {
		padding:0 !important;
		.card-inner {
			width:33.3333%;
			@media(max-width:767px) {
				width:50%;
			}

			@media(max-width: 550px) {
				width:100%;
			}
		}
		
	}
	.card-title, .card-actions {
		&, & > a {
			color: #fff !important;
		}
	}
}