@font-face {
  font-family: "Ionicons";
  src:url("./fonts/ionicons/ionicons.eot");
  src:url("./fonts/ionicons/ionicons.eot#iefix") format("embedded-opentype"),
  url("./fonts/ionicons/ionicons.ttf") format("truetype"),
  url("./fonts/ionicons/ionicons.woff") format("woff"),
  url("./fonts/ionicons/ionicons.svg#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin-ext');