// PLATFORM PREFIXES
$iosMidFix: 'ios';
$androidMidFix: 'android';

.icon {
	-webkit-filter: blur(0);
	text-align:center;
  font-family: "Ionicons";
  font-size:1em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-xs {
	font-size:12px;
	font-size:0.75rem;
	width:12px;
	width:0.75rem;
	height:12px;
	height:0.75rem;
}

.icon-s {
	font-size:16px;
	font-size:1rem;
	width:16px;
	width:1rem;
	height:16px;
	height:1rem;
}

.icon-m {
	font-size:20px;
	font-size:1.25rem;
	width:20px;
	width:1.25rem;
	height:20px;
	height:1.25rem;
}

.icon-l {
	font-size:24px;
	font-size:1.5rem;
	width:24px;
	width:1.5rem;
	height:24px;
	height:1.5rem;
}

.icon-xl {
	font-size:28px;
	font-size:1.75rem;
	width:28px;
	width:1.75rem;
	height:28px;
	height:1.75rem;
}

.icon-xxl {
	font-size:32px;
	font-size:2rem;
	width:32px;
	width:2rem;
	height:32px;
	height:2rem;
}

.icon-super-l {
	font-size:36px;
	font-size:2.25rem;
	width:36px;
	width:2.25rem;
	height:36px;
	height:2.25rem;
}

.icon-super-xl {
	font-size:40px;
	font-size:2.5rem;
	width:40px;
	width:2.5rem;
	height:40px;
	height:2.5rem;
}
.icon-super-xxl {
	font-size:44px;
	font-size:2.75rem;
	width:44px;
	width:2.75rem;
	height:44px;
	height:2.75rem;
}
.icon-super-super-l {
	font-size:44px;
	font-size:2.75rem;
	width:44px;
	width:2.75rem;
	height:44px;
	height:2.75rem;
}
.icon-super-super-xl {
	font-size:44px;
	font-size:2.75rem;
	width:44px;
	width:2.75rem;
	height:44px;
	height:2.75rem;
}
.icon-super-super-xxl {
	font-size:48px;
	font-size:3rem;
	width:48px;
	width:3rem;
	height:48px;
	height:3rem;
}

.icon-wrap {
	@include borderRadius(2px);
	position:relative;
	width: 60px;
  height: 60px;
	.icon {
    position: absolute;
    display:table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	}
	.icon:before {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	}
}

// ICON WRAP SIZES
	.icon-wrap-xs {
		width:22px;
		width:1.375em;
		height:22px;
		height:1.375em;
	}
	.icon-wrap-s {
		width: 30px;
		width:1.875em;
		height: 30px;
		height:1.875em;
	}
	.icon-wrap-m {
		width: 40px;
		height: 40px;
		width:2.5em;
		height:2.5em;
		// padding: 8px;
	}
	.icon-wrap-s-bordered {
		display:table;
		width: 26px;
		height: 26px;
		width: 1.6em;
	  height: 1.6em;
	  border-width: 1px;
	  border-style: solid;
	  border-color: inherit;
	  padding: 4px;
	  @include borderRadius(5px);
	}

	.icon-wrap-round {
		@include borderRadius(100%);
	}
	.icon-bordered {
		border-width: 1px;
	  border-style: solid;
	  border-color: inherit;
	  @include borderRadius(5px);
	}
	.icon-s.icon-bordered {
		padding:4px;
	}
	.icon-centered {
		position:absolute;
	  width:100%;
	  height:100%;
	  background: rgba(19, 19, 19, 0.75);
	  top:0;
	  left:0;
	  svg, .icon-wrap {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -30px;
	    margin-top: -30px;
	    transition: fill 400ms ease;
	  } 
	}

	.icon-submit {
		cursor:pointer;
	}

// PARTICULAR ICONS
.icon-lock:before {
	content: $ionicon-var-locked;
}
.icon-card:before {
	content: $ionicon-var-card;
}
.icon-cart:before {
	content: $ionicon-var-ios-cart;
}
.icon-cart-empty:before {
	content: $ionicon-var-ios-cart-outline;
}
.icon-power:before {
	content: $ionicon-var-power;
}
.icon-heart:before {
	content: $ionicon-var-ios-heart;
}
.icon-heart-hollow:before {
	content: $ionicon-var-ios-heart-outline;
}
.icon-search:before {
	content: $ionicon-var-ios-search;
}
.icon-check-ios:before {
	content: $ionicon-var-ios-checkmark-empty;
}
.icon-check:before {
	content: $ionicon-var-checkmark-round;
}
.icon-check-circled:before {
	content: $ionicon-var-checkmark-circled;
}
.icon-alert:before {
	content: $ionicon-var-alert;
}
.icon-alert-circled:before {
	content: $ionicon-var-alert-circled;
}
.icon-globe:before {
	content: $ionicon-var-earth;
}
.icon-lightbulb:before {
	content: $ionicon-var-android-bulb;
}
.icon-notify:before {
	content: $ionicon-var-android-notifications-none;
}
.icon-airplane:before {
	content: $ionicon-var-paper-airplane;
}
.icon-airplane-send:before {
	content: $ionicon-var-paper-airplane-send;
}
.icon-image:before {
	content: $ionicon-var-image;
}
.icon-video:before {
	content: $ionicon-var-ios-film;
}
.icon-audio:before {
	content: $ionicon-var-ios-volume-high;
}
.icon-navicon:before {
	content: $ionicon-var-navicon;
}
.icon-edit:before {
	content: $ionicon-var-edit;
}
.icon-close:before {
	content: $ionicon-var-ios-close-empty;
	// content: $ionicon-var-android-close;
}
.icon-minus:before {
	content: $ionicon-var-minus-round;
}
.icon-clock:before {
	content: $ionicon-var-clock;
}
.icon-comment:before {
	content: $ionicon-var-chatbubble;
}
.icon-forward:before {
	content: $ionicon-var-share;
}
.icon-arrow-down:before {
	content: $ionicon-var-chevron-down;
}
.icon-arrow-up:before {
	content: $ionicon-var-chevron-up;
}
.icon-arrow-right:before {
	content: $ionicon-var-chevron-right;
}
.icon-arrow-left:before {
	content: $ionicon-var-chevron-left;
}
.icon-download:before {
	content: $ionicon-var-arrow-down-c;
}
.icon-calendar:before {
	content: $ionicon-var-calendar;
}
.icon-calendar-outline:before {
	content: $ionicon-var-ios-calendar-outline;
}
.is-active .icon-calendar-outline:before {
	content: $ionicon-var-ios-calendar;
}
.icon-posts:before {
	content: $ionicon-var-filing;
}
.icon-star:before {
	content: $ionicon-var-star;
}
.icon-play:before {
	content: $ionicon-var-play;
}
.icon-pause:before {
	content: $ionicon-var-pause;
}
.icon-volume-mute:before {
	content: $ionicon-var-volume-mute;
}
.icon-volume-low:before {
	content: $ionicon-var-volume-low;
}
.icon-volume-high:before {
	content: $ionicon-var-volume-high;
}
.icon-expand:before {
	content: $ionicon-var-arrow-expand;
}
.icon-shrink:before {
	content: $ionicon-var-arrow-shrink;
}
.icon-bag:before {
	content: $ionicon-var-bag;
}
.icon-bookmark:before {
	content: $ionicon-var-bookmark;
}
.icon-school:before {
	content: $ionicon-var-university;
}
.icon-checkbox:before {
	content: $ionicon-var-ios-circle-outline;
}
.icon-checkbox-checked:before {
	content: $ionicon-var-ios-circle-filled;
}
.icon-help:before {
	content: $ionicon-var-help;
}
.icon-location:before {
	content: $ionicon-var-location;
}
.icon-eye:before {
	content: $ionicon-var-eye;
}
.icon-facebook:before {
	content: $ionicon-var-social-facebook;
}
.icon-gplus:before {
	content: $ionicon-var-social-googleplus;
}
.icon-funnel:before {
	content: $ionicon-var-funnel;
}
// .icon-avatar:before {
// 	content: $ionicon-var-person;
// }
.icon-avatar:before {
	content: $ionicon-var-android-person;
}
.icon-user-add:before {
	content: $ionicon-var-person-add;
}
.icon-people:before {
	content: $ionicon-var-person-stalker;
}
.icon-people-outline:before {
	content: $ionicon-var-ios-people-outline;
}
.is-active .icon-people-outline:before {
	content: $ionicon-var-ios-people;
}
.icon-photos:before {
	content: $ionicon-var-ios-photos-outline;
}
.icon-photos.is-active:before {
	content: $ionicon-var-ios-photos;
}
.icon-plus:before {
	content: $ionicon-var-plus;
}
.icon-list:before {
	content: $ionicon-var-ios-list-outline;
}
.icon-euro:before {
	content: $ionicon-var-social-euro;
}
.icon-spinner:before {
	// content: $ionicon-var-load-c;
	content: $ionicon-var-ios-loop-strong;
}
.icon-cog:before {
	content: $ionicon-var-gear-b;
}
.icon-lock:before {
	content: $ionicon-var-locked;
}
.icon-at:before {
	content: $ionicon-var-at;
}
.icon-doc:before {
	content: $ionicon-var-document-text;
}
.icon-at:before {
	content: $ionicon-var-at;
}
.icon-information:before {
	content: $ionicon-var-information-circled;
}
.icon-stream:before {
	content: $ionicon-var-radio-waves;
}
.icon-pinterest:before {
	content: $ionicon-var-social-pinterest;
}
.icon-twitter:before {
	content: $ionicon-var-social-twitter;
}
.icon-instagram:before {
	content: $ionicon-var-social-instagram;
}
.icon-linkedin:before {
	content: $ionicon-var-social-linkedin;
}
.icon-email:before {
	content: $ionicon-var-email;
}
.icon-clipboard:before {
	content: $ionicon-var-clipboard;
}
.icon-smile:before {
	content: $ionicon-var-happy-outline;
}
.icon-bars:before {
	content: $ionicon-var-stats-bars;
}
.icon-social:before {
	content: $ionicon-var-android-share-alt;
}
.icon-star:before {
	content: $ionicon-var-star;
}
.icon-trophy:before {
	content: $ionicon-var-trophy;
}
.icon-people:before {
	content: $ionicon-var-android-people;
}
.icon-sunny:before {
	content: $ionicon-var-android-sunny;
}
.icon-settings:before {
	content: $ionicon-var-ios-settings-strong;
}

.platform-ios {
	.icon-airplane:before {
		content: $ionicon-var-ios-paperplane;
	}
	.icon-image:before {
		content: $ionicon-var-ios-photos;
	}
	.icon-video:before {
		content: $ionicon-var-android-film;
	}
	.icon-audio:before {
		content: $ionicon-var-ios-volume-high;
	}
	.icon-navicon:before {
		content: $ionicon-var-ios-more;
	}
	.icon-edit:before {
		content: $ionicon-var-ios-compose;
	}
	.icon-close:before {
		content: $ionicon-var-ios-close-empty;
	}
	.icon-minus:before {
		content: $ionicon-var-ios-minus-empty;
	}
	.icon-clock:before {
		content: $ionicon-var-ios-clock-outline;
	}
	.icon-comment:before {
		content: $ionicon-var-ios-chatboxes-outline;
	}
	.icon-forward:before {
		content: $ionicon-var-ios-upload-outline;
	}
	.icon-arrow-down:before {
		content: $ionicon-var-ios-arrow-down;
	}
	.icon-arrow-up:before {
		content: $ionicon-var-ios-arrow-up;
	}
	.icon-arrow-right:before {
		content: $ionicon-var-ios-arrow-right;
	}
	.icon-arrow-left:before {
		content: $ionicon-var-ios-arrow-left;
	}
	.icon-calendar:before {
		content: $ionicon-var-ios-calendar-outline;
	}
	.icon-posts:before {
		content: $ionicon-var-ios-filing;
	}
	.icon-star:before {
		content: $ionicon-var-ios-star;
	}
	.icon-star-outline:before {
		content: $ionicon-var-ios-star-outline;
	}
	.is-active .icon-star-outline:before {
		content: $ionicon-var-ios-star;
	}
	.icon-play:before {
		content: $ionicon-var-ios-play;
	}
	.icon-pause:before {
		content: $ionicon-var-ios-pause;
	}
	.icon-volume-high:before {
		content: $ionicon-var-ios-volume-high;
	}
	.icon-volume-low:before {
		content: $ionicon-var-ios-volume-high;
	}
	.icon-volume-mute:before {
		content: $ionicon-var-ios-volume-low;
	}
	.icon-expand:before {
		content: $ionicon-var-arrow-expand;
	}
	.icon-shrink:before {
		content: $ionicon-var-arrow-shrink;
	}
	.icon-checkbox:before {
		content: $ionicon-var-ios-circle-outline;
	}
	.icon-checkbox-checked:before {
		content: $ionicon-var-ios-circle-filled;
	}
	.icon-location:before {
		content: $ionicon-var-ios-location;
	}
	.icon-eye:before {
		content: $ionicon-var-ios-eye;
	}
	.icon-facebook:before {
		content: $ionicon-var-social-facebook;
	}
	.icon-gplus:before {
		content: $ionicon-var-social-googleplus;
	}
	.icon-avatar:before {
		content: $ionicon-var-ios-person;
	}
	.icon-user-add:before {
		content: $ionicon-var-ios-personadd-outline;
	}
	.icon-people:before {
		content: $ionicon-var-ios-people;
	}
	.icon-photos:before {
		content: $ionicon-var-ios-photos-outline;
	}
	.is-active .icon-photos:before {
		content: $ionicon-var-ios-photos;
	}
	.icon-calendar-outline:before {
		content: $ionicon-var-ios-calendar-outline;
	}
	.is-active .icon-calendar-outline:before {
		content: $ionicon-var-ios-calendar;
	}
	.icon-people-outline:before {
		content: $ionicon-var-ios-people-outline;
	}
	.is-active .icon-people-outline:before {
		content: $ionicon-var-ios-people;
	}
	.icon-plus:before {
		content: $ionicon-var-ios-plus-empty;
	}
	.icon-list:before {
		content: $ionicon-var-ios-list-outline;
	}
	.icon-euro:before {
		content: $ionicon-var-social-euro;
	}
	.icon-spinner:before {
		content: $ionicon-var-load-c;
	}
	.icon-cog:before {
		content: $ionicon-var-gear-b;
	}
	.icon-lock:before {
		content: $ionicon-var-ios-locked;
	}
	.icon-at:before {
		content: $ionicon-var-at;
	}
	.icon-doc:before {
		content: $ionicon-var-document-text;
	}
	.icon-at:before {
		content: $ionicon-var-at;
	}
	.icon-information:before {
		content: $ionicon-var-ios-information;
	}
	.icon-stream:before {
		content: $ionicon-var-radio-waves;
	}
	.icon-pinterest:before {
		content: $ionicon-var-social-pinterest;
	}
	.icon-twitter:before {
		content: $ionicon-var-social-twitter;
	}
	.icon-linkedin:before {
		content: $ionicon-var-social-linkedin;
	}
	.icon-email:before {
		content: $ionicon-var-email;
	}
	.icon-clipboard:before {
		content: $ionicon-var-clipboard;
	}
}

.platform-android {
	.icon-airplane:before {
		content: $ionicon-var-android-send;
	}
	.icon-image:before {
		content: $ionicon-var-android-image;
	}
	.icon-video:before {
		content: $ionicon-var-ios-film;
	}
	.icon-audio:before {
		content: $ionicon-var-android-volume-up;
	}
	.icon-navicon:before {
		content: $ionicon-var-android-more-horizontal;
	}
	.icon-edit:before {
		content: $ionicon-var-android-create;
	}
	.icon-close:before {
		content: $ionicon-var-android-close;
	}
	.icon-minus:before {
		content: $ionicon-var-android-remove;
	}
	.icon-clock:before {
		content: $ionicon-var-android-time;
	}
	.icon-comment:before {
		content: $ionicon-var-android-chat;
	}
	.icon-forward:before {
		content: $ionicon-var-android-share;
	}
	.icon-arrow-down:before {
		content: $ionicon-var-android-arrow-dropdown;
	}
	.icon-arrow-up:before {
		content: $ionicon-var-android-arrow-dropup;
	}
	.icon-arrow-right:before {
		content: $ionicon-var-android-arrow-dropright;
	}
	.icon-arrow-left:before {
		content: $ionicon-var-android-arrow-dropleft;
	}
	.icon-calendar:before {
		content: $ionicon-var-android-calendar;
	}
	.icon-posts:before {
		content: $ionicon-var-filing;
	}
	.icon-star:before {
		content: $ionicon-var-android-star;
	}
	.icon-pause:before {
		content: $ionicon-var-pause;
	}
	.icon-volume-mute:before {
		content: $ionicon-var-android-volume-mute;
	}
	.icon-volume-low:before {
		content: $ionicon-var-android-volume-down;
	}
	.icon-volume-high:before {
		content: $ionicon-var-android-volume-up;
	}
	.icon-expand:before {
		content: $ionicon-var-arrow-expand;
	}
	.icon-shrink:before {
		content: $ionicon-var-arrow-shrink;
	}
	.icon-checkbox:before {
		content: $ionicon-var-android-checkbox-outline-blank;
	}
	.icon-checkbox-checked:before {
		content: $ionicon-var-android-checkbox-outline;
	}
	.icon-location:before {
		content: $ionicon-var-location;
	}
	.icon-eye:before {
		content: $ionicon-var-eye;
	}
	.icon-facebook:before {
		content: $ionicon-var-social-facebook;
	}
	.icon-gplus:before {
		content: $ionicon-var-social-googleplus;
	}
	.icon-avatar:before {
		content: $ionicon-var-android-person;
	}
	.icon-user-add:before {
		content: $ionicon-var-android-person-add;
	}
	.icon-people:before {
		content: $ionicon-var-android-people;
	}
	.icon-plus:before {
		content: $ionicon-var-android-add;
	}
	.icon-list:before {
		content: $ionicon-var-android-list;
	}
	.icon-euro:before {
		content: $ionicon-var-social-euro;
	}
	.icon-spinner:before {
		content: $ionicon-var-load-c;
	}
	.icon-cog:before {
		content: $ionicon-var-gear-b;
	}
	.icon-lock:before {
		content: $ionicon-var-android-lock;
	}
	.icon-at:before {
		content: $ionicon-var-at;
	}
	.icon-doc:before {
		content: $ionicon-var-document-text;
	}
	.icon-at:before {
		content: $ionicon-var-at;
	}
	.icon-more:before {
		content: $ionicon-var-android-more-horizontal;
	}
	.icon-information:before {
		content: $ionicon-var-information-circled;
	}
	.icon-stream:before {
		content: $ionicon-var-radio-waves;
	}
	.icon-pinterest:before {
		content: $ionicon-var-social-pinterest;
	}
	.icon-twitter:before {
		content: $ionicon-var-social-twitter;
	}
	.icon-linkedin:before {
		content: $ionicon-var-social-linkedin;
	}
	.icon-email:before {
		content: $ionicon-var-email;
	}
	.icon-clipboard:before {
		content: $ionicon-var-clipboard;
	}
}

.spin-wrap {
	width:100%;
	display:table;
	height:60px;
	position:relative;
}

// ICON ANIMATION
	@keyframes anim-rotate {
	  0% {
	    transform: rotate(0);
	  }
	  100% {
	    transform: rotate(360deg);
	  }
	}
	.spinner {
	  animation: anim-rotate 2s infinite linear;
	}
	.spinner-fast {
		animation: anim-rotate 1s infinite linear;
	}
	.spinner-steps-8 {
	  animation: anim-rotate 1s infinite steps(8);
	}
	.spinner-steps-12 {
	  animation: anim-rotate 1s infinite steps(12);
	}
	.spinner-steps-24 {
	  animation: anim-rotate 2s infinite steps(24);
	}

// ICON POSITIONING
	.icon-top-left {
		position: absolute;
		z-index: 1;
		top: 15px;
		left: 10px;
	}