/* 
 * DO_MODAL
 */

// INNER
$doModal_colorBgInnerDefault: #fff;
$doModal_colorBgInner: #333;
$doModal_colorBgOverlay: #000;
$doModal_easingInnerDuration: 0.25s;
$doModal_easingInnerType: ease;
$doModal_minHeightInner:200px;
$doModal_marginSideInner: 1rem;
$doModal_zIndexInner: 1000;

// OVERLAY
$doModal_easingOverlayOpacityDuration: 0.3s;
$doModal_easingOverlayType: ease;
$doModal_zIndexOverlay:-1;

// CLOSE
$doModal_zIndexClose:100;
$doModal_textColorLight:#333;
$doModal_textColorDark:#fff;

// BODY
html.freeze {
  & {
    // position: fixed;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
    z-index: 10;
  }
  body {
    position:relative;
  }
  
}

// Base
.do-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  overflow: hidden;
  padding:0;
  z-index:$doModal_zIndexInner;

  .do-modal_overlay {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width:100%;
    height:100%;
    background:$doModal_colorBgOverlay;
    z-index:$doModal_zIndexOverlay;
    transition: opacity $doModal_easingOverlayOpacityDuration $doModal_easingOverlayType;
  }

  .do-modal_outter {
    top:0;
    left:0;
    padding:0;
    opacity:0;
    transition: all $doModal_easingInnerDuration $doModal_easingInnerType;
    color:$doModal_colorBgInner;
    min-height:$doModal_minHeightInner;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    // ANIMATION
      &.top {
        -webkit-transform:translateY(-100%);
        -moz-transform:translateY(-100%);
        transform:translateY(-100%);
      }
      &.bottom {
        -webkit-transform:translateY(100%);
        -moz-transform:translateY(100%);
        transform:translateY(100%);
      }
      &.right {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        transform:translateX(100%);
      }
      &.left {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        transform:translateX(-100%);
      }
      &.tall {
        height:100%;
        .do-modal_inner {
          min-height:100%;
        }
      }

    // TYPES
      &.wide {
        min-width:100%;
      }

    .do-modal_inner {
      position:relative;
      background-color: $doModal_colorBgInnerDefault;
      margin:0 auto;
      &, a, a:hover {
        color:$doModal_textColorLight;
      }
      a.btn, a.btn:hover, a.btn:visited, a.btn:focus, a.btn:active {
        color:$doModal_textColorDark;
      }
    }

    .do-modal_inner.thin {
      max-width:600px;
    }

    &.transp .do-modal_inner {
      background-color: transparent;
      &, a, a:hover {
        color:$doModal_textColorDark;
      }
    }

    &.dark .do-modal_inner {
      &, .dropdown-menu, .dropdown-menu a:hover {
        background-color: $doModal_colorBgOverlay;
      }
        
      &, a, a:hover {
        color:$doModal_textColorDark;
      }
    }

    .do-modal_body {
      padding-bottom:1rem;
      .modal-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        // padding-top:16px;
        // padding-top:4rem;
        padding-bottom:192px;
        padding-bottom:12rem;
        padding-left:0;
        margin-left:-1rem;
        margin-right:-1rem;
        margin-bottom:-1rem;
        list-style:none;
        font-size:1.125rem;
        > li {
          position:relative;
          > .dropdown-menu {
            width:100%;
            margin-top:-2px;
            > li > a {
              text-align:left;
            }
          }
          > a {
            padding:1rem;
            display:block;
            color: #000;
            // color:#fff;
            // border-top:1px solid #ccc;
            // text-align:center;
          }
          > a {
            .avatar {
              width:32px;
              width:2rem;
              height:32px;
              height:2rem;
            }
          }
        }
        > li:first-child {
          > a {
            padding-top:1.25rem;
          }
        }
        > li.tabbed {
          padding-left:16px;
          padding-left:1rem;
        }
        > li.divider > a {
          border-bottom:1px solid #2f2f2f;
          height:4px;
          height:0.25rem;
          padding:0;
        }

        > li > a:active, > li > a:focus, > li > a:hover, > li > a:visited {
          text-decoration:none;
        }
        > li.active > a {
          color:$brandBlue !important;
          // color:#fff;
        }
        > li.action-button {
          
          button {
            font-size:20px;
            font-size:1.5rem;
            // background:none;
            // text-align:left;
            padding:16px;
            padding:1rem;
          }
        }
        > li.nav-item-button-mt {
          margin-top: 4rem;
          margin-top: 4rem;
          padding: 16px;
          padding: 1rem;
        }
        > li.nav-item_user_divider {
          > a {
            padding-bottom:0.25rem;
          }
        }
        button {
          width:100%;
          @include borderRadius(0);
        }
      }
      .card {
        padding:1rem 0;
        border:none;
        margin-bottom:-1rem;
      }
      .modal-message {
        padding:4rem 2rem 2rem;
        text-align:center;
      }
    } 


    &.centered {
      .do-modal_body {
        display:table;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        .modal-menu {
          display:table-cell;
          height:100%;
          vertical-align:middle;
          padding:0 16px;
          padding:0 1rem;
          text-align:center;
          font-size:24px;
          font-size:1.5rem;
          padding-top:56px;
          padding-top:3.5em;
        }
      }
    }

  }

  // CLOSE
  .do-modal_close {
    position:absolute;
    right: 0;
    top: 0;
    cursor:pointer;
    z-index:$doModal_zIndexClose;
    display:flex;
    i {
      height:96px;
      height:6rem;
      width:96px;
      width:6rem;
    }
    @media (max-width: 767px) {
      i {
        height:64px;
        height:4rem;
        width:64px;
        width:4rem;
      }
    }
  }

  .do-modal_heading {
    top:0;
    left:0;
    width:100%;
    padding: 28px 24px 28px 0;
    padding: 1.75rem 1.5rem 1.75rem 0;
    font-size:28px;
    font-size: 1.75rem;

    .logo {
      height: 64px;
      height: 4rem;
    }

    @media (max-width:767px) {
      & {
        padding: 12px 24px 12px 0;
        padding: 0.75rem 1.5rem 0.75rem 0;
      }
      & .logo {
        height: 40px;
        height: 2.5rem;
      }
    }
  }

  .do-modal_grid {
    padding-left:16px;
    padding-left:1rem;
    padding-right:16px;
    padding-right:1rem;
  }

}

// IN/VISIBLE
.do-modal.in {
  display: block;
}

.do-modal.visible {
  
  .do-modal_overlay {
    opacity: 0.9;
  }

  .do-modal_outter {
    opacity:1;

    & {
      &.top, &.bottom, &.left, &.right {
        -webkit-transform:translateY(0%);
        -moz-transform:translateY(0%);
        transform:translateY(0%);
      }
    }
  }

}


@media only screen and (max-width: 767px) {
  .do-modal_outter {
    width:100%;
    min-height:100%;
  }
}

@media only screen and (min-width: 768px) {
  .do-modal_inner {
    // max-width:900px;
  }
  .do-modal_outter.wide {
    max-width:100%;
  }
}