/* 
 * Devocean - NAVBAR
 */

@function multiply($value1, $value2) {
  @return $value1 * $value2;
}

// INNER
$doNavbar_zIndex: 100;
$doNavbar_lightTextColor: #000;
$doNavbar_darkTextColor: #fff;
$doNavbar_borderRadius:0;
$doNavbar_height:6rem;
$doNavbar_heightPx:96px;

.navbar.do-navbar {
	z-index:$doNavbar_zIndex;
	width:100%;
	top:0;
	left:0;
	box-shadow:2px 0 16px -8px $doNavbar_lightTextColor;
	border-radius:$doNavbar_borderRadius;
	-moz-border-radius:$doNavbar_borderRadius;
	-webkit-border-radius:$doNavbar_borderRadius;
	border:none;
	&.do-navbar_light {
		background-color:#fff;
		color:$doNavbar_lightTextColor;
	}
	&.do-navbar_dark {
		background-color:#000;
		color:$doNavbar_darkTextColor;
		box-shadow:2px 0 16px -8px $doNavbar_darkTextColor;
	}
	&.do-navbar_transparent {
		background-color:transparent !important;
		color:$doNavbar_darkTextColor;
		box-shadow:none;
	}
	&.do-navbar_abs {
		position:absolute;
	}
	&.do-navbar_fixed {
		position:fixed;
	}
	.do-navbar_inner {
		position:relative;
		.navbar-header {
			padding-bottom:0;
			margin-bottom:0;
			float:none;
			padding-left:0;
		}
		.navbar-header .navbar-brand,
		.nav > li.nav-item > a,
		.nav > li.nav-item > button {
			line-height:1rem;
	    box-sizing: border-box;
		  display:block;
		  margin:0;
		}
		.navbar-header .navbar-brand {
			padding: 0 1rem;
			font-size:28px;
			font-size:1.75rem;
			.alpha {
		    font-size: 12px;
		    font-size: 0.75rem;
		    padding: 0 4px 16px;
		    padding: 0 0.25rem 1rem;
			}
		}
		.navbar-header .navbar-brand,
		.navbar-header .do-search_bar_autosuggest,
		.nav > li.nav-item > a,
		.nav > li.nav-icon > a,
		.nav > li.nav-item.nav-item-button {
			display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    height: $doNavbar_heightPx;
	    height: $doNavbar_height;
	    padding: 0 1rem;
		}

		.navbar-header .navbar-brand .logo {
			height:48px;
			height:3rem;
		}


		.navbar-header {
			> .navbar-toggle.collapsed {
				height:4rem;
				width:4rem;
				margin: 0;
		    padding: 1.33rem;
				> .icon-bar {
					background-color:$doNavbar_lightTextColor;
				}
				> .icon-bar + .icon-bar {
					margin-top:0.25rem !important;
				}
			}
			> .navbar-search, > .navbar-menu-toggle {
		    padding: 0 1rem;
		    height: $doNavbar_heightPx;
		    height: $doNavbar_height;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    // color:#fff;
		    float:right;
		    // margin: 0.725rem 0.25rem 0 0;
			}
			> .navbar-menu-toggle {
				width: $doNavbar_heightPx;
		    width: $doNavbar_height;
			}

		}

		.navbar-header.microsite {
			width:100%;
			margin:0;
			padding:0;
			.navbar-brand {
				.logo {
					height:32px;
					height:2rem;
				}
			}
			.do-search_bar_autosuggest {
				justify-content:flex-end;
			}
		}
		
		.dropdown-menu > li.tabbed > a {
			@media only screen and (min-width : 768px) {
				padding-left:1.5rem !important;
			}
		}

	}
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background:#fff;
}
body.navbar-transp-white {
	.navbar-nav>li>a,
	.navbar-nav>li>a:focus,
	.navbar-nav>li>a:hover {
		background:transparent !important;
		color:#fff !important;
	}
}
body.fixed-navbar {
	padding-top:96px;
	padding-top:6rem;
	padding-top:96px;
	@media (max-width: 767px) {
		& {
			padding-top:48px;
			padding-top:4rem;
		}
	}
}

// MISC
.jewel-count {
	position: absolute;
  right: -3px;
  top: -12px;
  .jewel-count-inner {
  	background-color: #fa3e3e;
    @include borderRadius(3px)
    color: #fff;
    padding: 1px 3px;
    background-clip: padding-box;
    display: inline-block;
    font-size: 10px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.3;
    min-height: 13px;
  }
}
.jewel-count-success {
	.jewel-count-inner {
		background-color: $colorPurple;
	}
}
.nav-icon .icon {
	position:relative;
}

@media (max-width: 767px) {
	.navbar.do-navbar.do-navbar_fixed-mobile {
		position:fixed;
	}
	.navbar.do-navbar .do-navbar_inner .navbar-header {

		> .navbar-brand {
			height:64px;
			height:4rem;
			> .logo {
				height:40px;
				height:2.5rem;	
			}
		}
		> .navbar-menu-toggle {
			height:64px;
			width:64px;
			height:4rem;
			width:4rem;
		}
	}
}

@media (min-width: 768px) {
	.navbar.do-navbar .do-navbar_inner .navbar-header  {
		> .navbar-search {
			display:none;
		}
		> .navbar-search.microsite,  > .navbar-menu-toggle.microsite {
			display:flex;
		}
	}
}

// @media (max-width:767px) {
// 	.navbar.do-navbar .do-navbar_inner .navbar-header  {
// 		> .navbar-search, > .navbar-menu-toggle {
// 	    margin: 0.725rem 0.25rem 0 0;
// 		}
// 	}
// }

// CUSTOM
.nav {
	> .nav_item-contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		font-size:12px;
		font-size:0.75rem;
		> a {
			padding:0.1rem !important;
			padding:0.1rem !important;
			color:#fff;
			> i {
				position: relative;
		    background-repeat: no-repeat;
		    background-size: 100%;
		    height: 32px;
		    height: 2rem;
		    width: 32px;
		    width: 2rem;
		    margin: 0.4rem;
			}
		}
			
	}
}
.nav_item-contact {
	> a {
		> i {
			position: relative;
	    background-repeat: no-repeat;
	    background-size: 100%;
	    height: 32px;
	    height: 2rem;
	    width: 32px;
	    width: 2rem;
	    margin: 0.4rem 0.4rem 0.4rem 0;
		}
	}
}
	

@media (max-width: 1350px) {
	.nav > li.nav_item-contact > a.nav_item-Home {
		display:none !important;
	}
}

@media (max-width: 1000px) {
	.nav > li.nav_item-contact > a.nav_item-Mail {
		display:none !important;
	}
}

@media (max-width: 900px) {
	.nav > li.nav_item-contact > a.nav_item-Phone {
		display:none !important;
	}
}

@media (max-width: 767px) {
	.do-modal .do-modal_outter .do-modal_body .modal-menu > li.nav_item-contact {
		> a {
			border:none;
			display:inline-flex;
			text-align:left;
			font-size:12px;
			font-size:0.75rem;
			padding:0 1rem;
		}
		> a, > a:hover {
    	color:#fff !important;
    }
	} 

	.do-modal .do-modal_outter .do-modal_body .modal-menu > li.nav_item-contact, .nav_item-contact {
		position: absolute;
    bottom: 1rem;;
    width:100%;
    
	}
	.nav_item-contact {
    display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
    flex-direction: column;
    > a {
    	-webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: left;
    }
    
	}
}

@media (min-width: 768px) {
	.nav_item-contact {
		margin-right:8px;
		margin-right:0.5rem;
	}
	.navbar.do-navbar .do-navbar_inner .nav > li.nav-item.nav-item-button {
		padding-left:8px;
		padding-left:0.5rem;
	}
}

.navbar-toggle span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navbar-toggle .icon-bar+.icon-bar {
  width:100%;
  margin-top:-2px !important;
}
.navbar-transp-white .navbar-toggle .icon-bar {
  background-color:#fff;
}
.navbar-toggle.collapsed .icon-bar+.icon-bar {
  margin-top:4px !important;
}

.navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggle span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggle {
  height: 40px;
  width: 40px;
  padding: 8px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.navbar-toggle, .navbar-toggle:active, .navbar-toggle:focus, .navbar-toggle:hover {
  border:none !important;
  outline:none !important;
  background-color:transparent !important;
  box-shadow:none !important;

}
.navbar-toggle span {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggle.collapsed {
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}

.navbar-toggle.collapsed span {
  // display: block;
  // position: absolute;
  // height: 9px;
  // width: 100%;
  // background: #d3531a;
  // border-radius: 9px;
  // opacity: 1;
  // left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


/* Icon 3 */

.navbar-toggle.collapsed span:nth-child(1) {
  top: 0px;
  width:100%;
}

.navbar-toggle.collapsed span:nth-child(2), .navbar-toggle.collapsed span:nth-child(3) {
  top: 18px;
}

.navbar-toggle.collapsed span:nth-child(4) {
  top: 36px;
}