.navbar-menu-toggle {
	transition:animation 
}
.navbar-menu-toggle.pump {
	animation: ripple 1s ease-out;
}
@keyframes ripple {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(2.1);
  }
  10% {
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(50);
  }
}