
// Body
// $body-bg: #f5f8fa;
// $body-bg: #101446;
$body-bg: #F9FBFC;

// BRAND
$brandBlue: #1eb2f3;
$brandRose: #E72565;
$white: #fff;
$black: #000;

// BORDERS
$borderColor: #eaeaea;

$zIndexContentAbove:95;
$zIndexContentClose:90;
$zIndexNavbar:100;
$zIndexContent:10;
$zIndexAbsPos:1;
$zIndexLightbox:20;
$zIndexBg:-1;
$zIndexZero:0;
$zIndexAbsFitOverlay:999;
$zIndexBodyLoader:9999;
$zIndexModal:1000;
$zIndexMessage:1010;


// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$black: #333333;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #496274;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// CUSTOM COLORS
$colorAction: #DC3112;
$colorActionDark: #9a1f03;

$colorPurple: #3D58FF;
$colorPurpleLight: lighten($colorPurple, 15%);
$colorPurpleSemiDark: darken($colorPurple, 7%);
$colorPurpleDark: darken($colorPurple, 20%);
$colorOrange: #F3B934;
$colorOrangeLight: lighten($colorOrange, 10%);
$colorOrangeSemiDark: darken($colorOrange, 5%);
$colorOrangeDark: darken($colorOrange, 20%);
$colorDeviceBlue: #296DE5;
$colorDeviceBlueLight: lighten($colorDeviceBlue, 10%);

$brandDarkBlue: #0c4056;
// $brandDarkBlue: #4A27D9;
$brandLightBlue: #E95837;