.search-wrap {
	position:relative;
	// padding-bottom:80px;
	// padding-bottom:5rem;
}

.search-input {
	width: 100%;
	padding:16px 80px 16px 16px;
	padding:1rem 5rem 1rem 1rem;
	font-size:24px;
	font-size:1.5rem;
	box-shadow:0 1px 10px -6px #000;
	box-shadow: inset 0 0 26px -3px #ccc;
	border:none;
	&::placeholder {
		color:#ccc;
	}
}

.load-more {
	// height:80px;
	// height:5rem;
	text-align:center;
	width:100%;
	padding:1.5rem;
	font-size:20px;
	font-size:1.5rem;
	box-shadow:0 1px 10px -6px #000;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	border-radius: 0;

}

.frame-responsive {
	max-width:100%;
}